@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@100;400;500;600;700&display=swap");
/* -------- Base Font Family -------- */
/* -------- Base Font Size -------- */
/* -------- Base Color -------- */
/* -------- Font -------- */
/* -------- Btn -------- */
/* -------- トリミング正方形 -------- */
/* 縦横にフィット */
/* 縦横長いほうに合わせる */
/* 横幅いっぱいに合わせる */
/* -------- Border -------- */
html {
  font-size: 100%; /* 16px（16pt） */
}

body {
  word-wrap: break-word;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt" 1;
  background-color: #ffe1c0;
}
body.openModal {
  overflow: hidden;
}
body.openModal header .hdCmn {
  background-color: #fff9d5;
}

h1, h2, h3, h4, h5, h6, p, ul li, ol li, dl dt, dl dd, label, tr th, tr td, button, time, label, input, option, select, textarea {
  letter-spacing: 0.1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  list-style: none;
  outline: 0;
  font-size: 15px;
}
@media (max-width: 1062px) {
  h1, h2, h3, h4, h5, h6, p, ul li, ol li, dl dt, dl dd, label, tr th, tr td, button, time, label, input, option, select, textarea {
    font-size: 14px;
  }
}

div {
  line-height: 0;
}

ul, dl {
  margin: 0;
  padding: 0;
}

a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: color;
  transition: all 0.2s;
  color: #3d3d3d;
  outline: none;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #3d3d3d;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a img {
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity;
  opacity: 1;
  border: none;
  outline: none;
  padding: 0;
}
a img:hover {
  opacity: 0.9;
  cursor: pointer;
}
a p {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img {
  color: #ffffff;
  border: none;
  width: 100%;
}
img.img-bd {
  border: solid 1px #ccc;
}

.mb30 {
  margin-bottom: 30px !important;
}

.sm-txt {
  font-size: 0.8em !important;
}

.pc_br {
  display: block;
}
@media (max-width: 1160px) {
  .pc_br {
    display: none;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* -------- Boot Strap OverWrite -------- */
.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1500px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 1499px) {
  .container {
    width: 100%;
    padding-right: 90px;
    padding-left: 90px;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 100%;
    padding-right: 90px;
    padding-left: 90px;
  }
}
@media (max-width: 1062px) {
  .container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.row {
  line-height: 0;
  transition: all 0.4s;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.4s;
}
@media (max-width: 1062px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.block-grid-item {
  display: inline;
  margin: 0;
  padding: 0 20px;
  height: auto;
  list-style: none;
}
@media (max-width: 1062px) {
  .block-grid-item {
    padding: 0 8px;
  }
}

.bg_white {
  background-color: #fff !important;
}

/* -------- Loading -------- */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999999;
}

/* -------- //Boot Strap OverWrite -------- */
header {
  width: 100%;
  height: auto;
  float: left;
  position: fixed;
  z-index: 3;
}
header.hdTop {
  transition: all 0.4s;
  margin-top: -80px;
}
@media (max-width: 1062px) {
  header.hdTop {
    margin-top: 0;
  }
  header.hdTop .hdCmn {
    background: none;
  }
  header.hdTop .hdCmn .hdCmn_inner h1 {
    opacity: 0;
  }
}
header.hdTopShow {
  margin-top: 0px;
}

main {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  z-index: 2;
}

footer {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  z-index: 1;
}

/* -------- Header -------- */
header {
  font-family: "Murecho", sans-serif;
}

.hd {
  background-color: #fff;
}
.hd .hdCmn_inner h1 {
  display: initial !important;
}
.hd .hdCmn_inner .list {
  color: #ffc880 !important;
}
.hd .hdCmn_inner .hem {
  background-color: #ffc880 !important;
}

.hdCmn {
  transition: all 0.6s;
  padding: 20px;
  height: 90px;
}
@media (max-width: 1062px) {
  .hdCmn {
    transition: all 0.4s;
    padding: 10px;
    height: 60px;
  }
}
.hdCmn.fixedHd {
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff9d5;
}
.hdCmn.fixedHd .hdCmn_inner h1 {
  display: initial;
}
.hdCmn .hdCmn_inner {
  transition: all 0.4s;
  width: 100%;
  float: left;
  position: relative;
}
.hdCmn .hdCmn_inner h1 {
  transition: all 0.4s;
  display: none;
}
.hdCmn .hdCmn_inner h1 img {
  width: 140px;
}
@media (max-width: 1062px) {
  .hdCmn .hdCmn_inner h1 img {
    width: 120px;
  }
}
.hdCmn .hdCmn_inner h1.active {
  display: initial;
}
.hdCmn .hdCmn_inner .hdMenu {
  transition: all 0.2s;
  width: auto;
  float: right;
}
@media (max-width: 1062px) {
  .hdCmn .hdCmn_inner .hdMenu {
    z-index: 99999;
    position: fixed;
    visibility: hidden;
    background-color: #804f4e;
    overflow-y: scroll;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.hdCmn .hdCmn_inner .hdMenu.active {
  visibility: visible;
}
.hdCmn .hdCmn_inner .hdMenu.active .list {
  color: #fff !important;
}
.hdCmn .hdCmn_inner .hdMenu ul li {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
}
.hdCmn .hdCmn_inner .hdMenu ul li:last-child {
  margin: 0;
}
@media (max-width: 1062px) {
  .hdCmn .hdCmn_inner .hdMenu ul li {
    font-size: 1rem;
    height: auto;
    line-height: 60px;
    height: 60px;
    margin: 0;
    width: 100%;
    border-bottom: solid 1px #fff;
    padding-left: 60px;
    background-size: 28px;
    background-position: left 16px center;
    background-repeat: no-repeat;
    text-align: left;
  }
  .hdCmn .hdCmn_inner .hdMenu ul li.use {
    display: none;
  }
  .hdCmn .hdCmn_inner .hdMenu ul li.make {
    background-image: url(../img/icon_menu_use.svg);
  }
  .hdCmn .hdCmn_inner .hdMenu ul li.mfp {
    background-image: url(../img/icon_menu_mfp.svg);
  }
  .hdCmn .hdCmn_inner .hdMenu ul li.faq {
    background-image: url(../img/icon_menu_faq.svg);
  }
  .hdCmn .hdCmn_inner .hdMenu ul li.shop {
    background-image: url(../img/icon_menu_shop.svg);
  }
  .hdCmn .hdCmn_inner .hdMenu ul li:last-child {
    margin: 0;
  }
}
.hdCmn .hdCmn_inner .hdMenu ul li a {
  color: #3d3d3d;
  display: inline-block;
  position: relative;
}
@media (max-width: 1062px) {
  .hdCmn .hdCmn_inner .hdMenu ul li a {
    display: block;
  }
}
.hdCmn .hdCmn_inner .hdMenu ul li a::after {
  display: none;
  transition: all 0.2s;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
@media (max-width: 1062px) {
  .hdCmn .hdCmn_inner .hdMenu ul li a::after {
    content: none;
  }
}
.hdCmn .hdCmn_inner .hdMenu ul li a:hover {
  opacity: 0.5;
}
.hdCmn .hdCmn_inner .hdMenu ul li.current a::after {
  opacity: 1;
}
.hdCmn .hdCmn_inner .hdBtn {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  transition: all 0.4s;
  box-sizing: border-box;
  z-index: 6;
  top: 0;
  right: 0;
  padding: 21px 20px;
}
@media (max-width: 1062px) {
  .hdCmn .hdCmn_inner .hdBtn {
    display: initial;
  }
}
.hdCmn .hdCmn_inner .hdBtn .hum {
  width: 100%;
  height: 18px;
  float: left;
  position: relative;
}
.hdCmn .hdCmn_inner .hdBtn span {
  display: inline-block;
  transition: all 0.15s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #804f4e;
  border-radius: 2px;
}
.hdCmn .hdCmn_inner .hdBtn span:nth-of-type(2) {
  top: 12px;
}
.hdCmn .hdCmn_inner .hdBtn.active {
  z-index: 9999;
  margin-top: 5px;
}
.hdCmn .hdCmn_inner .hdBtn.active .hem {
  background-color: #804f4e !important;
}
.hdCmn .hdCmn_inner .hdBtn.active span:nth-of-type(1) {
  transform: translateY(-8px) rotate(-45deg);
  top: 10px;
}
.hdCmn .hdCmn_inner .hdBtn.active span:nth-of-type(2) {
  transform: translateY(-10px) rotate(45deg);
  bottom: -10px;
}
.hdCmn .hdCmn_inner .hdBtn:hover {
  cursor: pointer;
}

/* -------- Footer -------- */
footer {
  /* -------- Footer_pc -------- */
}
footer .ft {
  font-family: "Murecho", sans-serif;
}
footer .ft .ftCmn_dl {
  width: 100%;
  background-image: url(../img/ftCmn_dl_bg.svg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffd39a;
  padding: 120px 15px 80px;
}
@media (max-width: 1062px) {
  footer .ft .ftCmn_dl {
    padding: 80px 15px 60px;
  }
}
@media (max-width: 540px) {
  footer .ft .ftCmn_dl {
    padding: 60px 15px 60px;
  }
}
footer .ft .ftCmn_dl_flex {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1062px) {
  footer .ft .ftCmn_dl_flex {
    justify-content: center;
    padding: 0 40px;
  }
}
@media (max-width: 880px) {
  footer .ft .ftCmn_dl_flex {
    padding: 0 20px;
  }
}
@media (max-width: 540px) {
  footer .ft .ftCmn_dl_flex {
    flex-flow: column;
    flex-direction: column-reverse;
    padding: 0 0;
  }
}
@media (max-width: 540px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right h1 {
    margin: 0 auto;
    width: 320px;
  }
}
@media (max-width: 420px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right h1 {
    width: 260px;
  }
}
footer .ft .ftCmn_dl_flex .ftCmn_dl_right h2 {
  color: #804f4e;
  margin: 20px 0;
  font-size: 2.375rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.025rem;
  line-height: 1;
}
@media (max-width: 1062px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 880px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 690px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right h2 {
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right h2 {
    font-size: 1.25rem;
  }
}
footer .ft .ftCmn_dl_flex .ftCmn_dl_right .appLink {
  width: 100%;
  max-width: 500px;
}
@media (max-width: 1062px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right .appLink {
    max-width: 320px;
  }
}
@media (max-width: 540px) {
  footer .ft .ftCmn_dl_flex .ftCmn_dl_right .appLink {
    max-width: 360px;
  }
}
footer .ft .ftCmn_dl_flex .ftCmn_dl_right .appLink nav {
  display: flex;
  justify-content: space-evenly;
  transition: all 0.4s;
}
footer .ft .ftCmn_dl_flex .ftCmn_dl_right .appLink nav .for_ios {
  width: 43%;
}
footer .ft .ftCmn_dl_flex .ftCmn_dl_right .appLink nav .for_android {
  width: 43%;
}
footer .ft .ftCmn_dl_flex .ftImg {
  width: 530px;
}
@media (max-width: 1062px) {
  footer .ft .ftCmn_dl_flex .ftImg {
    width: 460px;
  }
}
@media (max-width: 880px) {
  footer .ft .ftCmn_dl_flex .ftImg {
    width: 400px;
  }
}
@media (max-width: 540px) {
  footer .ft .ftCmn_dl_flex .ftImg {
    margin-top: 2.5rem;
    width: 85%;
  }
}
footer .ftCmn_menu {
  background-color: #5fc494;
  padding: 80px 0;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu {
    padding: 60px 50px 40px;
  }
}
@media (max-width: 767px) {
  footer .ftCmn_menu {
    padding: 40px 0;
  }
}
@media (max-width: 540px) {
  footer .ftCmn_menu {
    padding: 60px 20px;
  }
}
footer .ftCmn_menu .ftCmn_menu_inner {
  display: table;
  position: relative;
  width: 100%;
}
footer .ftCmn_menu .ftCmn_menu_inner .ftCmn_menu_left {
  width: 60%;
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 767px) {
  footer .ftCmn_menu .ftCmn_menu_inner .ftCmn_menu_left {
    display: block;
    width: 100%;
  }
}
footer .ftCmn_menu .ftCmn_menu_inner .ftCmn_menu_right {
  width: 40%;
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_inner .ftCmn_menu_right {
    display: block;
    width: 100%;
  }
}
footer .ftCmn_menu h1 {
  margin-bottom: 10px;
}
footer .ftCmn_menu h1 img {
  width: 250px;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu h1 {
    display: none;
  }
}
footer .ftCmn_menu .ftCmn_menu_grv {
  font-family: "Murecho", sans-serif;
  width: 100%;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_grv {
    margin-bottom: 20px;
  }
}
footer .ftCmn_menu .ftCmn_menu_grv ul {
  display: inline-block;
  width: 100%;
}
footer .ftCmn_menu .ftCmn_menu_grv ul:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_grv ul {
    width: 100%;
  }
}
footer .ftCmn_menu .ftCmn_menu_grv ul li {
  float: left;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 0.075em;
  margin-right: 20px;
  font-size: 1rem;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_grv ul li {
    width: 100%;
    float: none;
    border: none;
    border-left: solid 2px #fff;
    padding: 0 0 0 16px;
    text-align: left;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
footer .ftCmn_menu .ftCmn_menu_grv ul li:last-child {
  margin-right: 0;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li a {
  color: #fff;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li a:hover {
  text-decoration: underline;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown.open ul.dropdown-menu {
  display: block;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu {
  display: none;
  right: 0;
  left: auto;
  background-color: #fff;
  padding: 22px 20px;
  min-width: 150px;
  top: -100px;
  height: auto;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu {
    top: 20px;
    left: 14px;
    width: calc(100% - 20px);
  }
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu li {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  height: auto;
  width: 100%;
  text-align: left;
  font-weight: 600;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu li {
    border: none;
  }
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu li:last-child {
  margin-bottom: 0;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu li a {
  color: blue;
  display: block;
  padding: 0;
  font-weight: 500;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu li a::after {
  display: none;
}
footer .ftCmn_menu .ftCmn_menu_grv ul li.dropdown ul.dropdown-menu li a:hover {
  background: none;
  text-decoration: underline;
}
footer .ftCmn_menu .ftCmn_menu_sns {
  width: 100%;
  text-align: right;
  margin-bottom: 40px;
}
@media (max-width: 1062px) {
  footer .ftCmn_menu .ftCmn_menu_sns {
    text-align: center;
    margin-bottom: 40px;
  }
}
footer .ftCmn_menu .ftCmn_menu_sns ul {
  display: inline-block;
}
footer .ftCmn_menu .ftCmn_menu_sns ul li {
  float: left;
  margin-right: 40px;
  width: 40px;
}
footer .ftCmn_menu .ftCmn_menu_sns ul li:last-child {
  margin: 0;
}
footer .ftCmn_menu .ftCmn_menu_sns ul li img {
  width: 100%;
}
footer .copy {
  font-family: "Helvetica Neue", Helvetica, "Murecho", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: right;
  line-height: 1;
}
@media (max-width: 1062px) {
  footer .copy {
    text-align: center;
  }
}

/*--------------トップページ-----------------*/
.hero {
  font-family: "Murecho", sans-serif;
  /*--------------pc-----------------*/
  /*--------------sp-----------------*/
}
.hero .hero_pc {
  background-image: url(../img/main_img_pc_v2_logo.jpg);
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 68rem;
  padding: 8.75rem 0;
  position: relative;
}
@media (max-width: 1062px) {
  .hero .hero_pc {
    display: none;
  }
}
.hero .hero_pc .fv_block {
  width: 95%;
}
.hero .hero_pc h1 {
  margin-top: 5rem;
  margin-bottom: 5.625rem;
}
@media (max-width: 1300px) {
  .hero .hero_pc h1 {
    margin-top: 3rem;
  }
}
.hero .hero_pc h1 img {
  display: inline-block;
  width: 100%;
}
.hero .hero_pc .txt_catch {
  color: #804f4e;
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1;
  text-align: center;
}
@media (max-width: 1300px) {
  .hero .hero_pc .txt_catch {
    font-size: 2.5rem;
  }
}
.hero .hero_pc .app_box {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.hero .hero_pc .appLink {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}
.hero .hero_pc .appLink nav {
  display: flex;
  padding: 0;
}
.hero .hero_pc .appLink nav .for_ios {
  width: 100%;
  padding: 0 0.625rem 0 2.9375rem;
}
.hero .hero_pc .appLink nav .for_android {
  width: 100%;
  padding: 0 2.9375rem 0 0.625rem;
}
.hero .hero_sp {
  display: none;
  max-width: 100%;
}
@media (max-width: 1062px) {
  .hero .hero_sp {
    display: block;
  }
}
.hero .hero_sp .hero_sp_top {
  height: 56rem;
  background-image: url(../img/main_img_sp_wide_v2.jpg);
  background-position: center bottom;
  background-size: cover;
  padding: 30px 0 30px 40px;
}
@media (max-width: 760px) {
  .hero .hero_sp .hero_sp_top {
    background-image: url(../img/main_img_sp_v2.jpg);
    background-position: center bottom;
    padding: 50px 0 30px 30px;
  }
}
@media (max-width: 540px) {
  .hero .hero_sp .hero_sp_top {
    height: 35rem;
    padding: 20px 0 20px 20px;
  }
}
.hero .hero_sp .hero_sp_top .fv_block_sp {
  max-width: 500px;
}
@media (max-width: 760px) {
  .hero .hero_sp .hero_sp_top .fv_block_sp {
    max-width: 400px;
  }
}
@media (max-width: 540px) {
  .hero .hero_sp .hero_sp_top .fv_block_sp {
    max-width: 280px;
  }
}
.hero .hero_sp .hero_sp_top .fv_block_sp .txt_catch {
  color: #fff;
  background-color: #804f4e;
  border-radius: 100vh;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  max-width: 480px;
  text-align: center;
  margin: 1.25rem 0 0 0;
}
@media (max-width: 540px) {
  .hero .hero_sp .hero_sp_top .fv_block_sp .txt_catch {
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
  }
}

/*-------------- Feature -----------------*/
.feature_top {
  font-family: "Murecho", sans-serif;
  background-color: #ffc880;
  background-image: url(../img/feature_top_bg.svg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  padding: 0 40px;
}
@media (max-width: 1440px) {
  .feature_top {
    width: 100%;
    padding: 0 60px 40px 60px;
    background-image: url(../img/feature_top_tb_bg.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1160px) {
  .feature_top {
    background-size: contain;
  }
}
@media (max-width: 1062px) {
  .feature_top {
    background-size: cover;
  }
}
@media (max-width: 900px) {
  .feature_top {
    background-image: url(../img/feature_top_tb2_bg.svg);
    background-size: cover;
  }
}
@media (max-width: 540px) {
  .feature_top {
    background-image: url(../img/feature_top_sp_bg.svg);
    background-size: cover;
    margin-top: -1px;
    padding: 0 30px 0 30px;
  }
}
.feature_top .appLink {
  display: none;
  max-width: 100%;
  text-align: center;
}
@media (max-width: 1062px) {
  .feature_top .appLink {
    display: block;
  }
}
.feature_top .appLink nav {
  display: inline-block;
}
@media (max-width: 540px) {
  .feature_top .appLink nav {
    max-width: 360px;
  }
}
@media (max-width: 420px) {
  .feature_top .appLink nav {
    width: 95%;
  }
}
.feature_top .appLink nav .app_icon {
  padding: 30px 20px;
  max-width: 260px;
}
@media (max-width: 1700px) {
  .feature_top .appLink nav .app_icon {
    padding: 40px 20px 30px;
  }
}
@media (max-width: 540px) {
  .feature_top .appLink nav .app_icon {
    padding: 30px 10px;
  }
}
.feature_top h2 {
  z-index: 1;
  position: relative;
  color: #804f4e;
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05em;
  margin: 0 0 4.25rem 0;
}
@media (max-width: 1160px) {
  .feature_top h2 {
    font-size: 3rem;
  }
}
@media (max-width: 540px) {
  .feature_top h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 470px) {
  .feature_top h2 {
    font-size: 1.4375rem;
    margin: 0 0 1.875rem 0;
  }
}
.feature_top h2:before {
  width: 320px;
  z-index: -1;
  position: absolute;
  display: inline-block;
  content: url(../img/bg_title.svg);
  top: -1.2rem;
  left: -1.6rem;
}
@media (max-width: 1160px) {
  .feature_top h2:before {
    width: 280px;
    top: -0.8rem;
    left: -1.4rem;
  }
}
@media (max-width: 540px) {
  .feature_top h2:before {
    width: 220px;
    top: -0.5rem;
    left: -1rem;
  }
}
@media (max-width: 470px) {
  .feature_top h2:before {
    width: 140px;
    top: -0.6rem;
    left: -0.5rem;
  }
}
.feature_top .feature_txt {
  color: #3d3d3d;
  font-size: 2.25rem;
  line-height: 1.6;
  font-weight: 500;
}
@media (max-width: 1160px) {
  .feature_top .feature_txt {
    font-size: 2rem;
  }
}
@media (max-width: 540px) {
  .feature_top .feature_txt {
    font-size: 1.5rem;
  }
}
@media (max-width: 470px) {
  .feature_top .feature_txt {
    font-size: 1rem;
  }
}
.feature_top .btn_area {
  max-width: 1260px;
  margin: 0 auto;
  text-align: left;
}
.feature_top .btn_area .featureBox_btn {
  line-height: 70px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
.feature_top .btn_area .featureBox_btn a {
  padding: 0 80px 0 60px;
  background-color: #fff;
  display: inline-block;
  background-image: url(../img/arrow_circle_right.svg);
  background-position: right 50px center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 0.5625rem;
  color: #804f4e;
}
@media (max-width: 470px) {
  .feature_top .btn_area .featureBox_btn a {
    line-height: 30px;
    font-size: 0.875rem;
    padding: 0.5rem 3rem;
    background-position: right 30px center;
    background-size: 14px 14px;
  }
}
.feature_top .btn_area .featureBox_btn a:hover {
  background-color: #fff9d5;
}
@media (max-width: 1160px) {
  .feature_top .btn_area .featureBox_btn {
    display: none;
  }
}
.feature_top #REVERSE {
  flex-direction: row-reverse;
}
.feature_top .feature_first_box {
  width: 100%;
  height: auto;
}
.feature_top .feature_first_box .first_block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 0 6rem 0;
}
@media (max-width: 1160px) {
  .feature_top .feature_first_box .first_block {
    padding: 2rem 0 4rem 0;
  }
}
@media (max-width: 540px) {
  .feature_top .feature_first_box .first_block {
    padding: 0 0 4rem 0;
  }
}
@media (max-width: 470px) {
  .feature_top .feature_first_box .first_block {
    padding: 0 0 3.75rem 0;
  }
}
.feature_top .feature_first_box .first_block img {
  width: 150px;
}
@media (max-width: 1160px) {
  .feature_top .feature_first_box .first_block img {
    width: 120px;
  }
}
@media (max-width: 470px) {
  .feature_top .feature_first_box .first_block img {
    width: 70px;
  }
}
.feature_top .feature_first_box .first_block p {
  margin: 0 0 0 3.3rem;
  font-size: 2.75rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.523;
  letter-spacing: 0.1em;
}
@media (max-width: 1160px) {
  .feature_top .feature_first_box .first_block p {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .feature_top .feature_first_box .first_block p {
    margin: 0 0 0 2rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 630px) {
  .feature_top .feature_first_box .first_block p {
    font-size: 1.5rem;
  }
}
@media (max-width: 540px) {
  .feature_top .feature_first_box .first_block p {
    font-size: 1.3rem;
  }
}
@media (max-width: 470px) {
  .feature_top .feature_first_box .first_block p {
    margin: 0 0 0 1.4rem;
    font-size: 1.0625rem;
  }
}
.feature_top .feature_top_box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1260px;
  margin: 8rem auto 3.125rem;
  z-index: 1;
}
.feature_top .feature_top_box.box2 {
  margin: 6.25rem auto 0;
}
@media (max-width: 470px) {
  .feature_top .feature_top_box.box2 {
    margin: 5rem auto 0;
  }
}
.feature_top .feature_top_box.box3 {
  margin: 6.25rem auto 0;
  padding: 0 0 9.375rem 0;
}
@media (max-width: 470px) {
  .feature_top .feature_top_box.box3 {
    margin: 5rem auto 0;
    padding: 0 0 5rem 0;
  }
}
@media (max-width: 1160px) {
  .feature_top .feature_top_box {
    display: block;
    margin: 60px auto;
  }
}
@media (max-width: 1062px) {
  .feature_top .feature_top_box {
    margin: 0 auto;
  }
}
.feature_top .feature_top_box .f1-size {
  width: 65%;
}
@media (max-width: 1160px) {
  .feature_top .feature_top_box .f1-size {
    width: 100%;
  }
}
.feature_top .feature_top_box .f2-size {
  width: 42%;
}
@media (max-width: 1160px) {
  .feature_top .feature_top_box .f2-size {
    width: 100%;
    margin: 0 auto;
  }
}
.feature_top .feature_top_box .f3-size {
  width: 24%;
  margin: 0 9.375rem;
}
@media (max-width: 1160px) {
  .feature_top .feature_top_box .f3-size {
    width: 40%;
    margin: 0 auto;
  }
}
.feature_top .feature_top_box .f4-size {
  width: 40%;
}
@media (max-width: 1160px) {
  .feature_top .feature_top_box .f4-size {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 470px) {
  .feature_top .feature_top_box .f4-size {
    width: 75%;
  }
}
.feature_top .box-txt1 {
  padding-right: calc(0.1 * (100vw - 1260px));
}
@media (max-width: 1160px) {
  .feature_top .box-txt1 {
    width: 100%;
  }
}
.feature_top .box-txt1 .btn_area_sp {
  display: none;
}
@media (max-width: 1160px) {
  .feature_top .box-txt1 .btn_area_sp {
    display: block;
    text-align: center;
    padding: 2.5rem 0;
  }
  .feature_top .box-txt1 .btn_area_sp .featureBox_btn {
    line-height: 70px;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
  .feature_top .box-txt1 .btn_area_sp .featureBox_btn a {
    padding: 0 80px 0 60px;
    background-color: #fff;
    display: inline-block;
    background-image: url(../img/arrow_circle_right.svg);
    background-position: right 50px center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    border-radius: 0.5625rem;
    color: #804f4e;
  }
}
@media (max-width: 1160px) and (max-width: 470px) {
  .feature_top .box-txt1 .btn_area_sp .featureBox_btn a {
    line-height: 30px;
    font-size: 0.875rem;
    padding: 0.5rem 3rem;
    background-position: right 30px center;
    background-size: 14px 14px;
  }
}
@media (max-width: 1160px) {
  .feature_top .box-txt1 .btn_area_sp .featureBox_btn a:hover {
    background-color: #fff9d5;
  }
}
@media (max-width: 470px) {
  .feature_top .box-txt1 .btn_area_sp {
    padding: 1.875rem 0;
  }
}
.feature_top .box-txt2 {
  width: 50%;
}
@media (max-width: 1160px) {
  .feature_top .box-txt2 {
    width: 100%;
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 470px) {
  .feature_top .box-txt2 {
    margin-bottom: 1.875rem;
  }
}
.feature_top .box-txt2 .btn_area {
  margin: 2.5rem auto 0;
  text-align: left;
}
.feature_top .box-txt2 .btn_area .featureBox_btn {
  line-height: 70px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
.feature_top .box-txt2 .btn_area .featureBox_btn a {
  padding: 0 80px 0 60px;
  background-color: #fff;
  display: inline-block;
  background-image: url(../img/arrow_circle_right.svg);
  background-position: right 50px center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 0.5625rem;
  color: #804f4e;
}
@media (max-width: 470px) {
  .feature_top .box-txt2 .btn_area .featureBox_btn a {
    line-height: 30px;
    font-size: 0.875rem;
    padding: 0.5rem 3rem;
    background-position: right 30px center;
    background-size: 14px 14px;
  }
}
.feature_top .box-txt2 .btn_area .featureBox_btn a:hover {
  background-color: #fff9d5;
}
@media (max-width: 1160px) {
  .feature_top .box-txt2 .btn_area .featureBox_btn {
    display: block;
    text-align: center;
  }
}
.feature_top .box-txt3 {
  width: 50%;
}
@media (max-width: 1160px) {
  .feature_top .box-txt3 {
    width: 100%;
    margin-bottom: 3.125rem;
  }
}

/*-------------- step -----------------*/
.step {
  font-family: "Murecho", sans-serif;
  width: 100%;
  padding: 100px 100px 150px;
  background-color: #804f4e;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .step {
    padding: 60px 40px 80px;
  }
}
@media (max-width: 540px) {
  .step {
    padding: 60px 20px 80px;
  }
}
@media (max-width: 375px) {
  .step {
    padding: 60px 10px 80px;
  }
}
.step .stepBox_btn {
  line-height: 70px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin: 40px 0 0 0;
  text-align: center;
}
.step .stepBox_btn a {
  padding: 0 80px 0 60px;
  background-color: #fff;
  display: inline-block;
  background-image: url(../img/arrow_circle_right.svg);
  background-position: right 50px center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 0.5625rem;
  color: #804f4e;
}
@media (max-width: 470px) {
  .step .stepBox_btn a {
    line-height: 30px;
    font-size: 0.875rem;
    padding: 0.5rem 3rem;
    background-position: right 30px center;
    background-size: 14px 14px;
  }
}
.step .stepBox_btn a:hover {
  background-color: #fff9d5;
}
.step .stepBox_btn a {
  background-image: url(../img/arrow_circle_right.svg);
}
.step h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 80px;
  color: #fff;
}
@media (max-width: 1062px) {
  .step h1 {
    letter-spacing: 0.1rem;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 600;
  }
}
@media (max-width: 375px) {
  .step h1 {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .step h1 {
    margin-bottom: 60px;
  }
}
@media (max-width: 540px) {
  .step h1 {
    font-size: 1.25rem;
  }
}
.step .stepBox_pc {
  max-width: 1260px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .step .stepBox_pc {
    display: none;
  }
}
.step .stepBox_pc img {
  margin: 0 0 50px 0;
}
.step .stepBox_pc .stepBox_pc_column {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px 0;
}
.step .stepBox_pc li {
  width: 25%;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}
.step .stepBox_sp {
  display: none;
}
@media (max-width: 900px) {
  .step .stepBox_sp {
    display: block;
  }
}
.step .stepBox_sp .stepBox_sp_flex {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.step .stepBox_sp .stepBox_sp_flex .stepBoxImg {
  width: 50%;
}
@media (max-width: 540px) {
  .step .stepBox_sp .stepBox_sp_flex .stepBoxImg {
    width: 75%;
  }
}
.step .stepBox_sp .stepBox_sp_txt {
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  width: 75%;
}
@media (max-width: 540px) {
  .step .stepBox_sp .stepBox_sp_txt {
    font-size: 0.875rem;
  }
}
.step .stepBox_sp .stepBox {
  width: 100%;
  padding: 10px;
}
.step .stepBox_sp .arrow {
  margin: 20px auto;
  width: 40px;
}
@media (max-width: 374px) {
  .step .stepBox_sp .arrow {
    width: 30px;
  }
}

/*-------------- price&oudanmaku title-----------------*/
.price-title {
  max-width: 1260px;
  margin: 0 auto;
}
.price-title.PConly {
  display: block;
}
@media (max-width: 1300px) {
  .price-title.PConly {
    display: none;
  }
}
.price-title.SPonly {
  display: none;
}
@media (max-width: 1300px) {
  .price-title.SPonly {
    display: block;
  }
}
.price-title.margin_tb {
  margin: 5rem auto;
}
@media (max-width: 1300px) {
  .price-title.margin_tb {
    margin: 3.5rem auto;
  }
}
@media (max-width: 767px) {
  .price-title.margin_tb {
    margin: 0 auto 2.5rem;
  }
}
@media (max-width: 540px) {
  .price-title.margin_tb {
    margin: 0 auto 2rem;
  }
}
.price-title.margin_tb_02 {
  margin: 0 auto 5rem;
}
@media (max-width: 1300px) {
  .price-title.margin_tb_02 {
    margin: 0 auto 3.5rem;
  }
}
@media (max-width: 767px) {
  .price-title.margin_tb_02 {
    margin: 0 auto 2.5rem;
  }
}
@media (max-width: 540px) {
  .price-title.margin_tb_02 {
    margin: 0 auto 2.5rem;
  }
}
@media (max-width: 767px) {
  .price-title {
    margin: 0 auto;
  }
}
.price-title p {
  text-align: center;
  background-color: #ffc880;
  border-radius: 100vh;
  padding: 0.7rem 0;
}
@media (max-width: 767px) {
  .price-title p {
    padding: 0.4rem 0;
  }
}
.price-title span {
  font-size: 1.75rem;
  color: #804f4e;
  font-weight: bold;
}
@media (max-width: 767px) {
  .price-title span {
    font-size: 1.2rem;
  }
}

/*-------------- price -----------------*/
.print_price {
  font-family: "Helvetica Neue", Helvetica, "Murecho", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 0;
  background-color: #ffc880;
  background-image: url(../img/print_price_bg.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1300px) {
  .print_price {
    background-position: 50% -8%;
  }
}
@media (max-width: 767px) {
  .print_price {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 540px) {
  .print_price {
    background-image: url(../img/print_price_sp_bg.svg);
    background-position: 50% -3.6%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.print_price hr {
  border-top: solid 2px #666666;
  margin: 0;
}
.print_price .priceBox {
  width: 100%;
  margin: 0 auto;
}
.print_price .priceBox h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 80px;
  margin-bottom: 30px;
  color: #804f4e;
}
@media (max-width: 1062px) {
  .print_price .priceBox h1 {
    letter-spacing: 0.1rem;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 600;
  }
}
@media (max-width: 375px) {
  .print_price .priceBox h1 {
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  .print_price .priceBox h1 {
    margin-bottom: 20px;
  }
}
.print_price .priceBox .notice-txt {
  color: #804f4e;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.075em;
  font-weight: 500;
}
@media (max-width: 470px) {
  .print_price .priceBox .notice-txt {
    font-size: 0.75rem;
  }
}
.print_price .priceBox .bottom_box {
  position: relative;
  background-color: #804f4e;
  width: 100%;
  height: 22rem;
  margin: 25rem 0 0 0;
  padding: 0 150px;
}
@media (max-width: 1300px) {
  .print_price .priceBox .bottom_box {
    height: auto;
    margin: 5rem 0 0 0;
    padding: 80px 100px 20px;
  }
}
@media (max-width: 800px) {
  .print_price .priceBox .bottom_box {
    margin: 3rem 0 0 0;
    padding: 80px 40px 20px;
  }
}
@media (max-width: 540px) {
  .print_price .priceBox .bottom_box {
    padding: 40px 15px 20px;
  }
}
.print_price .priceBox .bottom_box .price_flex {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  max-width: 1260px;
  top: -20rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1300px) {
  .print_price .priceBox .bottom_box .price_flex {
    flex-wrap: wrap;
    position: static;
    transform: none;
  }
}
@media (max-width: 540px) {
  .print_price .priceBox .bottom_box .price_flex {
    display: block;
  }
}
.print_price .priceBox .bottom_box .price_flex li:first-child {
  width: 8%;
}
.print_price .priceBox .bottom_box .price_flex li:nth-child(2) {
  width: 11.5%;
}
.print_price .priceBox .bottom_box .price_flex li:nth-child(3) {
  width: 11.5%;
}
.print_price .priceBox .bottom_box .price_flex li:nth-child(4) {
  width: 23%;
}
.print_price .priceBox .bottom_box .price_flex li:nth-child(5) {
  width: 11.5%;
}
.print_price .priceBox .bottom_box .price_flex li:last-child {
  width: 11.5%;
}
@media (max-width: 1300px) {
  .print_price .priceBox .bottom_box .price_flex li {
    margin-bottom: 3.75rem;
  }
  .print_price .priceBox .bottom_box .price_flex li:first-child {
    width: 30%;
  }
  .print_price .priceBox .bottom_box .price_flex li:first-child img {
    width: 40%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(2) {
    width: 30%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(2) img {
    width: 58%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(3) {
    width: 30%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(3) img {
    width: 58%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(4) {
    width: 30%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(4) img {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(5) {
    width: 30%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(5) img {
    width: 58%;
  }
  .print_price .priceBox .bottom_box .price_flex li:last-child {
    width: 30%;
  }
  .print_price .priceBox .bottom_box .price_flex li:last-child img {
    width: 58%;
  }
}
@media (max-width: 540px) {
  .print_price .priceBox .bottom_box .price_flex li:first-child {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:first-child img {
    width: 34%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(2) {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(2) img {
    width: 48%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(3) {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(3) img {
    width: 48%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(4) {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(4) img {
    width: 85%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(5) {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:nth-child(5) img {
    width: 48%;
  }
  .print_price .priceBox .bottom_box .price_flex li:last-child {
    width: 100%;
  }
  .print_price .priceBox .bottom_box .price_flex li:last-child img {
    width: 48%;
  }
}
@media (max-width: 540px) {
  .print_price .priceBox .bottom_box .price_flex li .price_detail_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .print_price .priceBox .bottom_box .price_flex li .price_detail_flex .side_img_sp {
    width: 50%;
  }
  .print_price .priceBox .bottom_box .price_flex li .price_detail_flex .side_txt_sp {
    width: 50%;
  }
}
.print_price .priceBox .bottom_box .price_flex li .sheet_title {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 15px 0;
}
@media (max-width: 375px) {
  .print_price .priceBox .bottom_box .price_flex li .sheet_title {
    font-size: 1.125rem;
    margin: 10px 0;
  }
}
.print_price .priceBox .bottom_box .price_flex li .sheet_title span {
  font-size: 1.5rem;
  vertical-align: -0.05rem;
}
@media (max-width: 375px) {
  .print_price .priceBox .bottom_box .price_flex li .sheet_title span {
    font-size: 1.25rem;
    vertical-align: -0.03rem;
  }
}
.print_price .priceBox .bottom_box .price_flex li .size_box {
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 375px) {
  .print_price .priceBox .bottom_box .price_flex li .size_box {
    padding: 10px 0;
  }
}
.print_price .priceBox .bottom_box .price_flex li .size_box .size_txt {
  display: inline-block;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
@media (max-width: 375px) {
  .print_price .priceBox .bottom_box .price_flex li .size_box .size_txt {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.print_price .priceBox .bottom_box .price_flex li .price_txt {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 15px 0 0 0;
}
@media (max-width: 375px) {
  .print_price .priceBox .bottom_box .price_flex li .price_txt {
    font-size: 1.875rem;
    margin: 10px 0 0 0;
  }
}
.print_price .priceBox .bottom_box .price_flex li .price_txt span {
  font-size: 1.875rem;
  vertical-align: 0.4rem;
}
@media (max-width: 375px) {
  .print_price .priceBox .bottom_box .price_flex li .price_txt span {
    font-size: 1.25rem;
  }
}

/*-------------- oudanmaku -----------------*/
.oudanmaku {
  font-family: "Helvetica Neue", Helvetica, "Murecho", sans-serif;
  width: 100%;
  padding: 80px 100px 20px;
  background-color: #663D3D;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .oudanmaku {
    padding: 60px 40px 80px;
  }
}
@media (max-width: 540px) {
  .oudanmaku {
    padding: 40px 20px 20px;
  }
}
@media (max-width: 375px) {
  .oudanmaku {
    padding: 40px 10px 20px;
  }
}
.oudanmaku .oudan_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1260px;
}
.oudanmaku .oudan_flex li {
  width: 30%;
  margin-bottom: 5rem;
}
@media (max-width: 1100px) {
  .oudanmaku .oudan_flex li {
    width: 45%;
  }
}
@media (max-width: 540px) {
  .oudanmaku .oudan_flex li {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
.oudanmaku .oudan_flex li .oudan_img img {
  border-radius: 10px;
}
@media (max-width: 540px) {
  .oudanmaku .oudan_flex li .oudan_txt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
}
.oudanmaku .oudan_flex li .oudan_txt .sheet_title {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 15px 0;
}
@media (max-width: 540px) {
  .oudanmaku .oudan_flex li .oudan_txt .sheet_title {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .oudanmaku .oudan_flex li .oudan_txt .sheet_title {
    font-size: 1.125rem;
    margin: 10px 0;
  }
}
.oudanmaku .oudan_flex li .oudan_txt .sheet_title span {
  font-size: 1.5rem;
  vertical-align: -0.05rem;
}
@media (max-width: 375px) {
  .oudanmaku .oudan_flex li .oudan_txt .sheet_title span {
    font-size: 1.25rem;
    vertical-align: -0.03rem;
  }
}
.oudanmaku .oudan_flex li .oudan_txt .size_box {
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 540px) {
  .oudanmaku .oudan_flex li .oudan_txt .size_box {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    margin: 0;
    padding: 0 2rem;
  }
}
@media (max-width: 460px) {
  .oudanmaku .oudan_flex li .oudan_txt .size_box {
    padding: 0.5rem;
  }
}
.oudanmaku .oudan_flex li .oudan_txt .size_box .size_txt {
  display: inline-block;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
@media (max-width: 375px) {
  .oudanmaku .oudan_flex li .oudan_txt .size_box .size_txt {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.oudanmaku .oudan_flex li .oudan_txt .price_txt {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 15px 0 0 0;
}
@media (max-width: 540px) {
  .oudanmaku .oudan_flex li .oudan_txt .price_txt {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .oudanmaku .oudan_flex li .oudan_txt .price_txt {
    font-size: 1.875rem;
    margin: 10px 0 0 0;
  }
}
.oudanmaku .oudan_flex li .oudan_txt .price_txt span {
  font-size: 1.875rem;
  vertical-align: 0.4rem;
}
@media (max-width: 375px) {
  .oudanmaku .oudan_flex li .oudan_txt .price_txt span {
    font-size: 1.25rem;
  }
}
.oudanmaku .taremaku_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1260px;
}
.oudanmaku .taremaku_flex li {
  width: 30%;
  padding: 0 5.7rem;
  margin-bottom: 5rem;
}
@media (max-width: 1300px) {
  .oudanmaku .taremaku_flex li {
    padding: 0 3rem;
  }
}
@media (max-width: 1100px) {
  .oudanmaku .taremaku_flex li {
    padding: 0 1rem;
  }
}
@media (max-width: 760px) {
  .oudanmaku .taremaku_flex li {
    width: 45%;
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 540px) {
  .oudanmaku .taremaku_flex li {
    padding: 0;
    margin-bottom: 2.5rem;
  }
}
.oudanmaku .taremaku_flex li .taremaku_img img {
  border-radius: 10px;
}
.oudanmaku .taremaku_flex li .taremaku_txt .sheet_title {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 15px 0;
}
@media (max-width: 375px) {
  .oudanmaku .taremaku_flex li .taremaku_txt .sheet_title {
    font-size: 1.125rem;
    margin: 10px 0;
  }
}
.oudanmaku .taremaku_flex li .taremaku_txt .sheet_title span {
  font-size: 1.5rem;
  vertical-align: -0.05rem;
}
@media (max-width: 375px) {
  .oudanmaku .taremaku_flex li .taremaku_txt .sheet_title span {
    font-size: 1.25rem;
    vertical-align: -0.03rem;
  }
}
.oudanmaku .taremaku_flex li .taremaku_txt .size_box {
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 375px) {
  .oudanmaku .taremaku_flex li .taremaku_txt .size_box {
    padding: 10px 0;
  }
}
.oudanmaku .taremaku_flex li .taremaku_txt .size_box .size_txt {
  display: inline-block;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
@media (max-width: 375px) {
  .oudanmaku .taremaku_flex li .taremaku_txt .size_box .size_txt {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.oudanmaku .taremaku_flex li .taremaku_txt .price_txt {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 15px 0 0 0;
}
@media (max-width: 375px) {
  .oudanmaku .taremaku_flex li .taremaku_txt .price_txt {
    font-size: 1.875rem;
    margin: 10px 0 0 0;
  }
}
.oudanmaku .taremaku_flex li .taremaku_txt .price_txt span {
  font-size: 1.875rem;
  vertical-align: 0.4rem;
}
@media (max-width: 375px) {
  .oudanmaku .taremaku_flex li .taremaku_txt .price_txt span {
    font-size: 1.25rem;
  }
}

/*-------------- news -----------------*/
.news {
  font-family: "Murecho", sans-serif;
  padding: 100px 0 150px;
  background-color: #5fc494;
  margin: 0 auto;
}
@media (max-width: 540px) {
  .news {
    padding: 60px 0 100px;
  }
}
.news h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 80px;
  color: #fff;
}
@media (max-width: 1062px) {
  .news h1 {
    letter-spacing: 0.1rem;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 600;
  }
}
@media (max-width: 375px) {
  .news h1 {
    font-size: 15px;
  }
}
.news .information {
  margin: 0 auto 20px;
  max-width: 1020px;
  padding: 30px 60px;
  background-color: #fff;
  display: block;
  background-image: url(../img/arrow_green.svg);
  background-position: right 30px center;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 15px;
}
.news .information dt {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
}
.news .information dd {
  color: #3d3d3d;
  font-size: 1rem;
  font-weight: 500;
}
.news .information:hover {
  background-color: #fff9d5;
}
@media (max-width: 767px) {
  .news .information {
    margin: 20px 20px;
    padding: 20px 40px;
    background-position: right 15px center;
    background-size: 25px;
  }
}
@media (max-width: 540px) {
  .news .information {
    margin: 15px 15px;
    padding: 20px 40px 20px 20px;
    background-position: right 15px center;
  }
}
.news dl {
  display: none;
}
.news dl.list-first {
  display: block;
}
.news dl:after {
  display: block;
  clear: both;
  content: "";
}
.news dl.att dt {
  font-weight: bold;
  color: #ff0000;
}
.news dl.att dd {
  font-weight: bold;
}
.news dl.att dd a {
  color: #ff0000;
}
.news dl dt {
  float: left;
  width: 120px;
  text-align: left;
}
@media (max-width: 983px) {
  .news dl dt {
    width: 100%;
    margin-bottom: 6px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .news dl dt {
    font-size: 0.7rem;
  }
}
.news dl dd {
  float: left;
  width: calc(100% - 120px);
  text-align: left;
}
@media (max-width: 983px) {
  .news dl dd {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .news dl dd {
    font-size: 0.7rem;
  }
}
.news .article {
  text-align: center;
  margin: 80px 0 0 0;
}
@media (max-width: 540px) {
  .news .article {
    margin: 40px 0 0 0;
  }
}
.news .article a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 0 5px 10px 5px;
  border-bottom: solid 1px #fff;
}
.news .article a:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .news .article a {
    font-size: 1rem;
  }
}

/*-------------- store -----------------*/
.store {
  font-family: "Murecho", sans-serif;
  padding: 100px 0 150px;
  background-color: #fff;
}
@media (max-width: 540px) {
  .store {
    padding: 60px 0 80px;
  }
}
.store h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 80px;
  color: #804f4e;
}
@media (max-width: 1062px) {
  .store h1 {
    letter-spacing: 0.1rem;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 600;
  }
}
@media (max-width: 375px) {
  .store h1 {
    font-size: 15px;
  }
}
.store .shop_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 10px auto 60px;
  gap: 50px 40px;
}
.store .shop_list li {
  width: 30%;
}
@media (max-width: 767px) {
  .store .shop_list {
    display: block;
  }
  .store .shop_list li {
    margin: 0 auto 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 540px) {
  .store .shop_list li {
    width: 100%;
    max-width: 200px;
  }
}
.store .shop_list a img {
  width: 100%;
  max-width: 300px;
}
.store p {
  text-align: center;
  color: #3d3d3d;
}
@media (max-width: 767px) {
  .store p {
    padding: 10px;
    margin-bottom: 20px;
  }
}

/* -------- Pages -------- */
/* -------- MFP -------- */
/* -------- Article -------- */
/* -------- Page Top -------- */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  z-index: 99999;
  display: none;
}
@media (max-width: 767px) {
  #page-top {
    font-size: 18px;
  }
}

#page-top img {
  width: 3.125rem;
}

#page-top a:hover {
  text-decoration: none;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  -moz-opacity: 1;
  opacity: 1;
}

/* -------- Anchor -------- */
.anchor {
  width: 100%;
  margin-top: -90px;
  padding-top: 90px;
}
@media (max-width: 767px) {
  .anchor {
    margin-top: -60px;
    padding-top: 60px;
  }
}

/* -------- Pace -------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: yellow;
  position: fixed;
  z-index: 9999999999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* -------- PC/SP only -------- */
.onlysp {
  display: none;
}
@media (max-width: 767px) {
  .onlysp {
    display: block;
  }
}

.onlytb {
  display: block;
}
@media (max-width: 991px) {
  .onlytb {
    display: none;
  }
}

.onlypc {
  display: block;
}
@media (max-width: 767px) {
  .onlypc {
    display: none;
  }
}

/* -------- 店舗検索 -------- */
/*# sourceMappingURL=style.css.map */